name: Release

on:
  release:
    types: [published]

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup uv
        uses: astral-sh/setup-uv@v7
      - name: Install dependencies
        run: uv sync
      - name: Build
        run: uv run -m tools.build
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: ./build/releases/*.zip
